<h1> Welcome Back! </h1>

<%= form_for sessions_path do |f| %>

	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>

	<div class="actions"><%= submit_tag "Log In" %></div>
<% end %> 
	
	