<h1>CustomerSessions#new</h1>
<p>Find me in app/views/customer_sessions/new.html.erb</p>
  
  <%= form_tag customer_sessions_path do %>


  <div class="field">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= file_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>